@import "../node_modules/bootstrap/dist/css/bootstrap.css";



body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1 0 auto;
  background-color: #cbf3f0;
}
.card1 {
  background-image: url(./images/3386851.jpg);
  background-size: cover;
  height: 100%;
}

button {
  background-color: #ef233c;
  color: #fff;
}
button:hover {
  background-color: #2ec4b6;
  color: #fff;
  transition: 0.5s;
}